* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

@font-face {
	font-family: Festive-Regular;
	src: url("font/Festive-Regular.ttf");
}

body {
	font-family: Calibri Light;
	background-image: url("slike/pozadina.jpg");
}

body > header {
	font-family: Festive-Regular;
	font-weight: bold;
	font-size: 40px;
	background-image: linear-gradient(red, red, #E4D3B5);
	padding: 15px;
	overflow: hidden;
}

body > header > img {
	width: 9%;
	height: auto;
	margin-left: 50px;
	margin-right: 20px;
	float: left;
}

body > header > p {
	font-size: 80px;
	display: inline-block;
	margin: 35px 0px;
	margin-left: 525px;
	color: #FFBD08;
}

body > header > nav {
	float: right;
	margin-top: 135px;
	margin-right: 10px;
}

body > header > nav > ul > li {
	display: inline-block;
}

main {
	text-align: center;
	color: black;
	font-weight: bold;
}

main > nav {
	text-align: center;
	font-size: 25px;
	margin-bottom: 10px;
	overflow: hidden;
}

main > nav > ul > li {
	display: inline-block;
	margin: 20px;
}

main > nav > ul > li > a {
	color: white;
	font-weight: bold;
	padding: 8px;
	background-color: red;
	border-radius: 8px;
	border: solid #FFBD08 2px;
}

main > nav > ul > li:hover > a {
	color: #FFBD08;
}

main > nav > ul > li.active > a {
	color: #FFBD08;
	border-radius: 8px;
}

h1 {
	/* color: #DAA520; */
	color: #FFBD08;
	font-size: 40px;
}

#tekst {
	margin: auto;
	text-align: left;
	width: 800px;
	padding: 20px;
	border: dotted red 5px;
	border-radius: 20px;
	background-color: white;
	margin-bottom: 20px;
}

#tekst-i-slika {
	margin: auto;
	text-align: left;
	width: 1000px;
	padding: 20px;
	border: dotted red 5px;
	border-radius: 20px;
	background-color: white;
	margin-bottom: 20px;
}

#tekst-i-slika > p {
	width: 63%;
	display: inline-block;
	padding-bottom: 30px;
	margin-left: 30px;
}

#tekst-i-slika > img {
	width: 30%;
	height: auto;
	border: dashed red 3px;
	border-radius: 20px;
	margin-top: 15px;
	margin-left: 15px;
}

#slike {
	margin: auto;
	text-align: left;
	width: 1200px;
	padding: 30px;
	border: dotted red 5px;
	border-radius: 20px;
	background-color: white;
	margin-bottom: 20px;
}

#slike > article > img {
	width: 22%;
	height: auto;
	border: dashed red 3px;
	border-radius: 20px;
	margin: 12px;
}

#meni {
	margin: auto;
	text-align: left;
	width: 1000px;
	padding: 30px;
	border: dotted red 5px;
	border-radius: 20px;
	background-color: white;
	margin-bottom: 20px;
}

#meni > article > img {
	width: 30%;
	height: auto;
	border: dashed red 3px;
	border-radius: 20px;
	margin: 12px;
}

#meni > article > div {
	display: inline-block;
	width: 60%;
}

#naruci {
	margin: auto;
	text-align: center;
	width: 1000px;
	padding: 30px;
	border: dotted red 5px;
	border-radius: 20px;
	background-color: white;
	margin-bottom: 20px;
}

#naziv, #adresa, #telefon, #email, #kolicina, #kreditna, #kod, #datum {
	width: 300px;
	height:35px;
	padding-left: 10px;
	border: solid 3px;
	border-radius: 5px;
}

#obrok {
	width: 317px;
	height: 35px;
	padding-left: 10px;
	border: solid 3px;
	border-radius: 5px;
}

#potvrdi {
	width: 150px;
	height: 45px;
	font-size: 25px;
	background-color: red;
	border-radius: 10px;
	border: solid #FFBD08 2px;
	color: white;
}

#potvrdi:hover {
	color: #FFBD08;
	cursor: pointer;
}

#potvrda {
	margin: auto;
	text-align: left;
	width: 1000px;
	padding: 30px;
	border: dotted red 5px;
	border-radius: 20px;
	background-color: white;
	margin-bottom: 304px;
	font-size: 20px;
	font-weight: 50;
}

#potvrda > h1 {
	text-align: center;
	font-size: 40px;
}

#porudzbine {
	margin: auto;
	text-align: center;
	width: 1000px;
	padding: 30px;
	border: dotted red 5px;
	border-radius: 20px;
	background-color: white;
	margin-bottom: 274px;
}

#porudzbine > h1 {
	text-align: center;
	font-size: 40px;
}

#porudzbine > table {
	margin: auto;
	border-top: dotted red 4px;
	border-left: dotted red 4px;
	border-bottom: dotted red 4px;
	border-radius: 20px;
	width: 700px;
}

#porudzbine > tr, td{
	border-top: dotted red 4px;
	border-right: dotted red 4px;
}

#porudzbine > tr, th{
	border-right: dotted red 4px;
}

footer {
	padding: 30px 0px;
	text-align: center;
	font-size: 15px;
	color: #F7CA25;
	background-image: linear-gradient(#E4D3B5, red, red);
}